<% if(success && success.length) { %>
  <div class="alert alert-success alert-dismissible fade show alert-popup" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<%if(ono && ono.length){%>
    <div class="alert alert-danger alert-dismissible fade show alert-popup" role="alert">
        <strong><%= ono %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>
