<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/products">ApnaBazzar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Home</a>
        </li>
        <% if(currentUser && currentUser.role === 'seller'){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/product/new">New</a>
        </li>
        <% } %>
      </ul>

    <div class="d-flex align-items-center" role="search">
      <% if(!currentUser) {%>
      <a href="/login" class="btn btn-outline-success mx-2">Login</a>
      <%} else{%>
        <a href="#" class="nav-link" style="color: #f2f2f2;">Hello, <%=currentUser.username %></a>
        <a href="#" class="nav-link position-relative mx-2">
          <i class="fa-solid fa-cart-shopping" style="color: #f2f2f2;"></i>        
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            2
          </span>
        </a>
        <a href="/logout" class="btn btn-outline-danger mx-2">Logout</a>
      <%}%>
    </div>


    </div>
  </div>
</nav>
