<% title = "ERROR" %>
<% layout('layouts/boilerplate') -%>
<%- include('../partials/navbar') %>


<div class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">Something Went Wrong!</h4>
    <p><%= error %></p>
  <hr>
  <a href="/products" class="btn btn-primary">Back to Products</a>
</div>